.class1{
    background-color: rgb(151, 121, 199);
    padding: 5px;
}

.class2{
    background-color: rgb(110, 180, 110);
    padding: 5px;
}
.domcontainer{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.creation{
    background-color: #f9f9f9; 
    border: 1px solid black;
    border-radius: 12px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}
.creation:hover{
    background-color: white; 
    color: darkgray;
}
