:root{
    --darkbrown:#51361A;
    --lightbrown:#A19887;
    --firebrick:rgb(165,42,42);
}
.content{
    height: 200px;
    max-width: 1200px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

/* Сам робот */

.robot{
    width:200px;
    height: 200px;
    position: absolute;
}

/* Голова и шапочка */

.head{
    position: absolute;
    width: 50px; 
    height: 28px;
    background: radial-gradient(30% 50%,yellow, firebrick);
    border-radius: 50px/26px;
    top: 78px;
    left: 75px; 
    z-index: 0;
}
.hat{
    position: absolute;
    width: 12px; 
    height: 20px;
    border-radius: 15px/20px;
    background: black;
    top: 75px;
    left: 105px; 
    z-index: -1;
    -webkit-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	transform: rotate(15deg);
}
.hat .horn-left{
    top: -3px;
	left: 2px;
    width: 0.5px; 
    height: 7px;
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	transform: rotate(-30deg);
}
.hat .horn-right{
    top: -3px;
	left: 10px;
    width: 0.5px; 
    height: 7px;
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);
}
.eye{
    position: absolute;
    width: 10px; 
    height: 10px;
    top: 9px;
    background: black;
    border-radius: 50%;
    z-index: 1;
}
.eye::after{
    content: '';
    position: absolute;
    width: 8px; 
    height: 8px;
    top: 1px;
    left: 1px;
    background: lightblue;
    border-radius: 50%;
    z-index: 1;
    
}

/* Тело и руки робота */

.rect{
    position: absolute;
    width: 50px; 
    height: 70px;
    top: 108px;
    left: 75px; 
    background: firebrick;
    border-radius: 8px;
    z-index: 1;
}
.inner-circle{
    position: absolute;
    width: 30px; 
    height: 30px;
    top: 10px;
    left: 10px;
    background: black;
    border-radius: 50%;
}
.inner-circle::after{
    content: '';
    position: absolute; 
    width: 24px; 
    height: 24px;
    top: 3px;
    left: 3px;
    background: firebrick;
    border-radius: 50%;
}
.strip{
    position: absolute; 
    width: 34px; 
    height: 3px;
    left: 8px;
    background: black;
    border-radius: 10px;
}
.arm-right{
    position: absolute;
    width: 15px; 
    height: 20px;
    top: 14px;
    left: 50px;
    background: black;
    border-radius: 0 8px 0 0;
}
.arm-right::after{
    content: '';
    position: absolute; 
    top: 6px;
    width: 10px; 
    height: 14px;
    background: white;
    border-radius: 0 6px 0 0;
}
.arm-left{
    position: absolute;
    width: 15px; 
    height: 20px;
    top: 14px;
    left: -15px;
    background: black;
    border-radius: 8px 0 0 0;
    align-items: center;
}
.arm-left::after{
    content: '';
    position: absolute; 
    top: 6px;
    left: 5px;
    width: 10px; 
    height: 14px;
    background: white;
    border-radius: 6px 0 0 0;
}
.triangle{
    position: absolute;
    width: 0; 
    height: 0;
    top: 34px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 15px solid firebrick;
}

/* Низ робота */

.bottom{
    position: absolute;
    width: 78px;
    height: 16px;
    background: linear-gradient(to top, var(--darkbrown), var(--lightbrown), rgba(190, 172, 138, 0.568));
    top: 170px;
    left: 61px; 
    border-radius: 15px;
    z-index: 0;
}