body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    
}
.main-container{
    margin: auto;
}

/* styles header */

.header-container{
    width: 100%;
    padding: 10px 0.5% 10px 0.5%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    border-bottom: 0.5px solid lightgray;
    margin-bottom: 5%;
}
.main-logo{
    margin: 0 5%;
    width:100px;
    height: 100px;
}
.left-part{
    height: 100px;
}
.header-nav, .image-holder{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-nav-link, .text-title, .smaller-title{
    margin: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 2px;
    color: black;
}
.smaller-title{
    font-size: 12px;
    text-align: center;
    text-decoration: underline;
}
.header-nav-link:hover{
    color: darkgray;
}
.icons-sources{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 5%;
}
.icon{
    padding: 10px 10px 10px 10px;
    justify-content: center;
}
.icon:hover{
    color: darkgray;
}
.text-title{
    font-size: large;
    align-items: center;
    text-align: center;
}

/* main */

.content-overflow{
    padding-left: 10%;
    padding-right: 10%;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
    padding-bottom: 10%;
    max-width: 1024px;
}
.hint:hover::after {
    content: attr(data-title);
    position: absolute;
    text-align: center;
    left: 0; right: 0; bottom: 0ч;
    z-index: 1;
    background: rgba(255, 255, 255, 0.664);
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 2px;

}
.image-container{
    align-items: center;
    height: 500px;
}

/* footer */

footer{
    padding: 20px 0px;
    border-top: 0.5px solid lightgray;
    display: flex;
    align-items: bottom;
    justify-content: center;
}

/* media */

@media screen and (max-width: 800px){
    .main-container{
        max-width: 800px;
    }
    .header-container{
        grid-template-columns: 1fr 2fr 1fr;
    }
    .dis{
        display: none;
    }
    .header-nav{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .header-nav-link{
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: left;
    }
    .hint{
        display: flex;
        justify-content: center;
    }
    img#image{
        width: 95%;
    }
}

